{% extends 'base.html' %}
{% block title %} Главная {% endblock title %}
{% block content %}

  <main class="mainpage">
    <div class="background-blobs">
      <div class="mainpage__first-block__background">
        <section>
          <div
            class="container mainpage__first-block col-lg-6 col-md-8 col-sm-10"
          >
            <div class="mainpage__first-block__title-div">
              <h3 class="mainpage__first-block__title">
                Онлайн платформа для поиска ментора
              </h3>
            </div>
            <div class="mainpage__first-block__buttons-div">
              <div class="btn-lg btn-white">
                <a href="{% url 'profiles:register' %}">Стать ментором</a>
              </div>
              <div class="btn-lg btn-primary">
                <a href="#">Выбрать ментора</a>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section>
        <div class="container mainpage__second-block col-lg-8 col-md-8 col-sm-12">
          <div class="mainpage__second-block__title font-title-sm">
            <p>Наставничество в сфере</p>
            <p>
              <span class="word wisteria">STEM</span>
              <span class="word belize">Предпринимательство</span>
              <span class="word pomegranate">Карьера</span>
              <span class="word green">Саморазвитие</span>
              <span class="word midnight">Менеджмент</span>
            </p>
          </div>
          <div class="mainpage__second-block__subtitle">
            <h4 class="font-text-md">
              При создании генератора мы использовали небезизвестный универсальный
              код речей.
            </h4>
          </div>
          <div class="mainpage__second-block__text">
            <h4 class="font-text-md">
              По своей сути рыбатекст является альтернативой традиционному lorem
              ipsum, который вызывает у некторых людей недоумение при попытках
              прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на
              русском языке наполнит любой макет непонятным смыслом и придаст
              неповторимый колорит советских времен.
            </h4>
          </div>
          <div class="mainpage__second-block__btn">
            <div class="btn-lg btn-white-transparency">
              <a href="{% url 'about' %}">Подробнее</a>
            </div>
          </div>
        </div>
      </section>
      <div class="mainpage__steps-block__background">
        <section class="container">
          <h2 class="font-title-sm mainpage__steps-block__title">
            Как найти
            <span>ментора</span>
          </h2>
          <div class="mainpage__steps-block__steps-wrapper">
            <div
              class="mainpage__steps-block__step-card col-lg-3 col-md-4 col-sm-12 col-12"
            >
              <p class="mainpage__steps-block__step-card__bg">
                1
              </p>
              <p class="font-text-md mainpage__steps-block__step-card__text">
                <span class="font-subtitle-lg">Выберите ментора</span>
                по интересующему вас направлению
              </p>
            </div>
            <div class="mainpage__steps-block__next-arrow">
              <img
                src="/static/icons/next.png"
                alt=""
                style="opacity:0.8"
              />
            </div>
            <div
              class="mainpage__steps-block__step-card col-lg-3 col-md-4 col-sm-12 col-12"
            >
              <p class="mainpage__steps-block__step-card__bg ">
                2
              </p>
              <p class="font-text-md mainpage__steps-block__step-card__text">
                <span class="font-subtitle-lg">Напишите ментору</span>
                в чём Вам нужна его помощь или консультация
              </p>
            </div>
            <div class="mainpage__steps-block__next-arrow arrow__tablet">
              <img
                src="/static/icons/next.png"
                alt=""
                style="opacity:0.8"
              />
            </div>
            <div
              class="mainpage__steps-block__step-card col-lg-3 col-md-4 col-sm-12 col-12"
            >
              <p class="mainpage__steps-block__step-card__bg">
                3
              </p>
              <p class="font-text-md mainpage__steps-block__step-card__text">
                <span class="font-subtitle-lg">Получите согласие</span>
                или с помощью нашего куратора выберите другого ментора
              </p>
            </div>
            <div class="mainpage__steps-block__next-arrow arrow__no-desctop">
              <img
                src="/static/icons/next.png"
                alt=""
                style="opacity:0.8"
              />
            </div>
            <div
              class="mainpage__steps-block__step-card col-lg-3 col-md-4 col-sm-12 col-12"
            >
              <p class="mainpage__steps-block__step-card__bg">
                4
              </p>
              <p class="font-text-md mainpage__steps-block__step-card__text">
                <span class="font-subtitle-lg">Договоритесь о целях</span>
                и формате сотрудничества на первой встрече с ментором
              </p>
            </div>
            <div class="mainpage__steps-block__next-arrow arrow__tablet">
              <img
                src="/static/icons/next.png"
                alt=""
                style="opacity:0.8"
              />
            </div>
            <div
              class="mainpage__steps-block__step-card col-lg-3 col-md-4 col-sm-12 col-12"
            >
              <p class="mainpage__steps-block__step-card__bg">
                5
              </p>
              <p class="font-text-md mainpage__steps-block__step-card__text">
                <span class="font-subtitle-lg">Составьте план действий</span>
                и достигайте поставленных целей
              </p>
            </div>
            <div class="mainpage__steps-block__next-arrow">
              <img
                src="/static/icons/next.png"
                alt=""
                style="opacity:0.8"
              />
            </div>
            <div
              class="mainpage__steps-block__step-card col-lg-3 col-md-4 col-sm-12 col-12"
            >
              <p class="mainpage__steps-block__step-card__bg">
                6
              </p>
              <p class="font-text-md mainpage__steps-block__step-card__text">
                <span class="font-subtitle-lg">Получайте поддержку</span>

                со стороны куратора проекта на протяжении всего сотрудничества с
                ментором
              </p>
            </div>
          </div>
        </section>
      </div>

      <section>
        <div class="container mainpage__mentors-block">
          <div class="mainpage__mentors-block__title">
            <h2 class="font-title-sm">Наши менторы</h2>
          </div>
          <div class="mainpage__mentors-block__mentor-cards">
            {% for user in users %}
              <div
                class="mentors__mentor-cards__mentor-card col-lg-4 col-md-6 col-sm-12"
              >
                <a href="#">
                  <div class="mentors__mentor-cards__mentor-card__img">
                    <img src="{{ user.profile.image.url }}" alt="" />
                  </div>
                </a>
                <h4
                  class="font-title-sm mentors__mentor-cards__mentor-card__name"
                >
                  <a href="{% url 'profiles:account_detail' user.username %}">{{ user.first_name}} {{ user.last_name}}</a>
                </h4>
                <h4
                  class="font-subtitle mentors__mentor-cards__mentor-card__position"
                >
                  {{ user.position }}
                </h4>
                <div class="font-text mentors__mentor-cards__mentor-card__bio">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aspernatur molestiae voluptates accusamus minus autem adipisci
                  ducimus voluptate maiores ad recusandae.
                </div>
                <button class="btn btn-white">
                  <a href="{% url 'profiles:account_detail' user.username %}">Подробнее</a>
                </button>
              </div>
              {% empty %}
              {% if request.GET.q %}
              <p class="mt-5 mb-5 font-text col-6 offset-3" style="text-align:center">Извините, но такого ментора мы не нашли:(</p>
              {% else %}
              <p class="mt-5 mb-5 font-text col-6 offset-3" style="text-align:center">Менторов пока нет</p>
              {% endif %}
            {% endfor %}
          <div class="mainpage__mentors-block__button btn-lg btn-primary">
            <a href="#">Показать всех</a>
          </div>
        </div>
      </section>
      <div class="mainpage__mentors-steps__background">
        <section class="container">
          <div class="container mainpage__mentors-steps col-12">
            <div class="mainpage__mentors-steps__title">
              <h2 class="font-title-sm">
                Как стать ментором на
                <span>mentor.kg</span>
              </h2>
            </div>
            <div class="mainpage__mentors-steps__cards-div">
              <div class="mainpage__mentors-steps__cards-carousel">
                <div class="mainpage__mentors-steps__card">
                  <div class="mainpage__mentors-steps__card__num">
                    1
                  </div>
                  <div class="mainpage__mentors-steps__card__description">
                    <h4 class="font-subtitle">Зарегистрируйтесь</h4>
                    <p class="font-text">
                      Заполняете форму, прикрепляете резюме и рассказываете о
                      своем опыте, почему решили стать ментором
                    </p>
                  </div>
                </div>
                <div class="mainpage__mentors-steps__card reverse-gradient">
                  <div class="mainpage__mentors-steps__card__num">
                    2
                  </div>
                  <div class="mainpage__mentors-steps__card__description">
                    <h4 class="font-subtitle">
                      Напишите ваши ожидания от ученика
                    </h4>
                    <p class="font-text">
                      Выделяете карьерные запросы протеже (специалитет), с
                      которыми вам интересно работать.
                    </p>
                  </div>
                </div>
                <div class="mainpage__mentors-steps__card">
                  <div class="mainpage__mentors-steps__card__num">
                    3
                  </div>
                  <div class="mainpage__mentors-steps__card__description">
                    <h4 class="font-subtitle">Выберите ученика</h4>
                    <p class="font-text">
                      Выбираете (из представленных вам) протеже, в кого интересно
                      инвестировать время и усилия
                    </p>
                  </div>
                </div>
                <div class="mainpage__mentors-steps__card reverse-gradient">
                  <div class="mainpage__mentors-steps__card__num">
                    4
                  </div>
                  <div class="mainpage__mentors-steps__card__description">
                    <h4 class="font-subtitle">Помогите ученику расти</h4>
                    <p class="font-text">
                      Работаете в паре с протеже, отслеживаете достигнутые
                      изменения и карьерные результаты
                    </p>
                  </div>
                </div>
                <div class="mainpage__mentors-steps__card">
                  <div class="mainpage__mentors-steps__card__num">
                    5
                  </div>
                  <div class="mainpage__mentors-steps__card__description">
                    <h4 class="font-subtitle">
                      Завершите ваше первое менторство
                    </h4>
                    <p class="font-text">
                      Даете обратную связь и дальнейшее советы своему протеже
                    </p>
                  </div>
                </div>
                <div class="mainpage__mentors-steps__card reverse-gradient">
                  <div class="mainpage__mentors-steps__card__num">
                    6
                  </div>
                  <div class="mainpage__mentors-steps__card__description">
                    <h4 class="font-subtitle">
                      Помогите ученику расти дальше
                    </h4>
                    <p class="font-text">
                      Делитесь опытом посредством блога, пишите о том, что вам
                      интересно и в чем вы эксперт
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section class="container">
        <div class="mainpage__reviews-block">
          <h2 class="font-title-sm mainpage__reviews__title">
            Отзывы
            <span>о менторстве</span>
          </h2>
          <div class="mainpage__reviews-block__wrapper">
            <div
              class="mainpage__reviews-block__review-div col-lg-8 col-md-12 col-sm-12"
            >
              <div class="mainpage__reviews-block__carousel">
                <div href="#" class="mainpage__reviews-block__btn" id="prevbtn">
                  <img
                    src="/static/icons/carousel-left.png"
                    alt=""
                    width="40px"
                  />
                </div>
                <div class="mainpage__reviews-block__review-div__carousel-slides">
                  <div class="mainpage__reviews-block__review-div__carousel-item">
                    <div
                      class="mainpage__reviews-block__review-div__carousel-item__avatar col-sm-4 col-md-4"
                    >
                      <img
                        height="200px"
                        width="200px"
                        src="/static/images/mentee1.jpeg"
                        alt=""
                      />
                    </div>
                    <div
                      class="mainpage__reviews-block__review-div__carousel-item__text col-sm-8 col-md-8"
                    >
                      <p class="font-text">
                        Когда впервые задумываешься о том, какой карьерный путь
                        выбрать после окончания учебы, сталкиваешься с огромным
                        количеством вариантов для самообразования и
                        трудоустройства, и в этом море информации бывает легко
                        пропустить что-то стоящее и подходящее именно тебе. На мой
                        взгляд, это здорово, что у сегодняшних выпускников есть
                        такая открытая площадка, чтобы получить совет от опытных
                        менторов и выбрать направление для развития
                      </p>
                      <h4 class="font-text-md">Наталья Бессонова,</h4>
                      <p class="font-text">
                        Индивидуальный предприниматель, МИРЭА РТУ - преподаватель
                      </p>
                    </div>
                  </div>
                  <div class="mainpage__reviews-block__review-div__carousel-item">
                    <div
                      class="mainpage__reviews-block__review-div__carousel-item__avatar col-sm-4 col-md-4"
                    >
                      <img
                        height="200px"
                        width="200px"
                        src="/static/images/mentee2.jpg"
                        alt=""
                      />
                    </div>
                    <div
                      class="mainpage__reviews-block__review-div__carousel-item__text col-sm-8 col-md-8"
                    >
                      <p class="font-text">
                        Разнообразный и богатый опыт постоянный количественный
                        рост и сфера нашей активности представляет собой
                        интересный эксперимент проверки существенных финансовых и
                        административных условий. Таким образом сложившаяся
                        структура организации требуют определения и уточнения
                        системы обучения кадров, соответствует насущным
                        потребностям. Таким образом постоянный количественный рост
                        и сфера нашей активности обеспечивает широкому кругу
                        (специалистов).
                      </p>
                      <h4 class="font-text-md">Мария Васильева,</h4>
                      <p class="font-text">
                        Индивидуальный предприниматель, МИРЭА РТУ - преподаватель
                      </p>
                    </div>
                  </div>
                  <div class="mainpage__reviews-block__review-div__carousel-item">
                    <div
                      class="mainpage__reviews-block__review-div__carousel-item__avatar col-sm-4 col-md-4"
                    >
                      <img
                        height="200px"
                        width="200px"
                        src="/static/images/mentee6.jpeg"
                        alt=""
                      />
                    </div>
                    <div
                      class="mainpage__reviews-block__review-div__carousel-item__text col-sm-8 col-md-8"
                    >
                      <p class="font-text">
                        По своей сути рыбатекст является альтернативой
                        традиционному lorem ipsum, который вызывает у некторых
                        людей недоумение при попытках прочитать рыбу текст. В
                        отличии от lorem ipsum, текст рыба на русском языке
                        наполнит любой макет непонятным смыслом и придаст
                        неповторимый колорит советских времен.
                      </p>
                      <h4 class="font-text-md">Ержан Рашев,</h4>
                      <p class="font-text">
                        Индивидуальный предприниматель, МИРЭА РТУ - преподаватель
                      </p>
                    </div>
                  </div>
                  <div class="mainpage__reviews-block__review-div__carousel-item">
                    <div
                      class="mainpage__reviews-block__review-div__carousel-item__avatar col-sm-4 col-md-4"
                    >
                      <img
                        height="200px"
                        width="200px"
                        src="/static/images/mentee3.jpeg"
                        alt=""
                      />
                    </div>
                    <div
                      class="mainpage__reviews-block__review-div__carousel-item__text col-sm-8 col-md-8"
                    >
                      <p class="font-text">
                        Когда впервые задумываешься о том, какой карьерный путь
                        выбрать после окончания учебы, сталкиваешься с огромным
                        количеством вариантов для самообразования и
                        трудоустройства, и в этом море информации бывает легко
                        пропустить что-то стоящее и подходящее именно тебе. На мой
                        взгляд, это здорово, что у сегодняшних выпускников есть
                        такая открытая площадка, чтобы получить совет от опытных
                        менторов и выбрать направление для развития
                      </p>
                      <h4 class="font-text-md">Мадина Аешева,</h4>
                      <p class="font-text">
                        Индивидуальный предприниматель, МИРЭА РТУ - преподаватель
                      </p>
                    </div>
                  </div>

                  <div class="mainpage__reviews-block__review-div__carousel-item">
                    <div
                      class="mainpage__reviews-block__review-div__carousel-item__avatar col-sm-4 col-md-4"
                    >
                      <img
                        height="200px"
                        width="200px"
                        src="/static/images/mentee4.jpg"
                        alt=""
                      />
                    </div>
                    <div
                      class="mainpage__reviews-block__review-div__carousel-item__text col-sm-8 col-md-8"
                    >
                      <p class="font-text">
                        Товарищи! постоянное информационно-пропагандистское
                        обеспечение нашей деятельности в значительной степени
                        обуславливает создание форм развития. Повседневная
                        практика показывает, что дальнейшее развитие различных
                        форм деятельности играет важную роль в формировании
                        направлений прогрессивного развития.
                      </p>
                      <h4 class="font-text-md">Дмитрий Ким,</h4>
                      <p class="font-text">
                        Индивидуальный предприниматель, МИРЭА РТУ - преподаватель
                      </p>
                    </div>
                  </div>
                </div>
                <div href="#" class="mainpage__reviews-block__btn" id="nextbtn">
                  <img
                    src="/static/icons/carousel-right.png"
                    alt=""
                    width="40px"
                  />
                </div>
              </div>
            </div>
            <div class="mainpage__reviews-block__quote-wrapper col-lg-4 col-md-4">
              <div class="mainpage__reviews-block__quote-div">
                <div class="mainpage__reviews-block__quote-block1">
                  <p class="font-text">
                    Если вы владеете знанием, дайте другим зажечь от него свои
                    светильники. <span>-Томас Фуллер</span>
                  </p>
                  <div class="btn btn-primary">
                    <a href="{% url 'profiles:register' %}">Стать ментором</a>
                  </div>
                </div>
                <div class="mainpage__reviews-block__quote-block2">
                  <p class="font-text">
                    Человек устроен так, что, когда что-то зажигает его душу, всё
                    становится возможным.
                    <span>-Жан де Лафонтен</span>
                  </p>
                  <div class="btn btn-primary">
                    <a href="#">Найти ментора</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
<script src="/static/scripts/mainpage.js"></script>
{% endblock content %}
